:root {
  --primary: #10B981;
  --primary-hover: #059669;
  --secondary: #1F2937;
  --text-light: #FFFFFF;
  --text-dark: #111827;
  --background-dark: #1F2937;
  --background-light: #F3F4F6;
  --glass-bg: #fffff;
  --glass-border: rgba(255, 255, 255, 0.1);
  --glass-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  --glass-blur: blur(8px);
}
  /* --glass-bg: rgb(140 140 140 / 70%); */
